.nav-wrapper a {
color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.vertical-align {
	vertical-align: middle;
 }

.card-feature {
 	border-radius: 20px !important;
 	padding: 0px 0px !important;
}

.card-title {
	background: black;
	margin: 0px !important;
	padding: 5px 5px !important;
}
.buttonmsg{
	background-color: powderblue;
	cursor: pointer;
	padding: 0px;
}
.button-take {
  background-color: powderblue;
  color: black;
  padding: 5px 25px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
}

.button-add{
	background-color: transparent;
	cursor: pointer;
	border-radius: 100px;
}

.button-next{
	background-color: white;
	cursor: pointer;
	border-radius: 100px;
}

@font-face {
    font-family: "Teko Bold";
    src: url(../fonts/Teko-Bold.ttf);
}

.font-teko {
    font-family: 'Teko Bold';
    color: black;
}

.sso-button{
  background-color: powderblue;
  padding: 0px 20px;
  border-radius: 20px;
}